h1.custom_tab {
  font: 14px/1 'Open Sans', sans-serif;
  color: #555;
  background: #eee
  padding: 50px 0;
  font-weight: 400;
  text-align: center;
}

p.custom_tab {
  font: 14px/1 'Open Sans', sans-serif;
  color: #555;
  background: #eee
  margin: 0 0 20px;
  line-height: 1.5;
}

main.custom_tab{
  width: 90%;
  padding: 0px;
  margin: 0 auto;
  background: #fff;
}

section.custom_tab{
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

input.custom_tab{
  display: none;
}

label.custom_tab{
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

label.custom_tab:before{
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label.custom_tab[for*='1']:before {
  content: '\f236';
}

label.custom_tab[for*='2']:before {
  content: '\f072';
}

label.custom_tab[for*='3']:before {
  content: '\f238';
}

label.custom_tab[for*='4']:before {
  content: '\f001';
}

label.custom_tab:hover {
  color: #888;
  cursor: pointer;
}

input.custom_tab:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid #01B7F2;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

h4.title {
    margin: 10px 0px;
    height: 20px;
    color: #2D3E52;
}
form label {
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 0.9167em;
}

input.input-text, textarea, span.custom-select {
    padding-left: 15px;
    padding-right: 15px;
    height: 34px;
}
input.input-text, select, textarea, span.custom-select {
    background: #F5F5F5 none repeat scroll 0% 0%;
    border: medium none;
    line-height: normal;
}
.full-width {
    width: 100% !important;
}

h4 {
    font-size: 1.3333em;
    line-height: 1.25em;
}

button, input.button[type="button"] {
    font-size: 0.9167em;
    font-weight: bold;
    background: #01B7F2 none repeat scroll 0% 0%;
    height: 34px;
    line-height: 34px;
}
button, input.button[type="button"], a.button {
    border: medium none;
    color: #FFF;
    cursor: pointer;
    padding: 0px 15px;
    white-space: nowrap;
}

@media screen and (max-width: 650px) {
  label.custom_tab {
    font-size: 0;
  }

  label.custom_tab:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  label.custom_tab {
    padding: 15px;
  }
}
